[Unit]
Description=Celestica Blackstone platform modules
After=local-fs.target
Before=pmon.service

[Service]
Type=oneshot
ExecStart=-/etc/init.d/platform-modules-blackstone start
ExecStop=-/etc/init.d/platform-modules-blackstone stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

